@charset "UTF-8";

.header_zepeto_logo path { fill: #fff; }

.main_wrap { overflow: hidden; }
.featured_wrap { display: flex; flex-wrap: nowrap; width: 100%; height: 100%; transition: transform 1.2s cubic-bezier(0.4, 0.09, 0, 1); }
.featured_wrap.booth { transform: translate3d(-100%, 0, 0); }
.featured_sesction { position: relative; flex: 0 0 100%; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; overflow: hidden; }
.featured_intro { background:linear-gradient(97deg, #6c4afb, #9733ee); }
.featured_title_wrap { position: relative; display: flex; flex-direction: column; align-items: center; z-index: 1; }
.featured_title_wrap .featured_title { color: #fff; font-size: 100px; font-weight: bold; text-align: center; -webkit-filter: drop-shadow(0 0 6px rgba(72, 70, 71, .7)); filter: drop-shadow(0 0 6px rgba(72, 70, 71, .7)); }
.featured_title_wrap .btn_photobooth { margin-top: 22px; padding: 17px 45px 15px; color: #fff; font-size: 18px; border: 1px solid #fff; border-radius: 50px; background: transparent; transition: background-color .25s ease, color .25s ease; }
.featured_title_wrap .btn_photobooth:hover { color: #5952ff; background: #fff; }
.card_wrap { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.card_wrap .card_item { position: absolute; top: 50%; left: 50%; display: flex; justify-content: center; align-items: center; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
.card_wrap .card_item:nth-child(1) { transform: translate3d(calc(-50% - 35vw), calc(-50% - 22vh), 0); width: 19.2vw; }
.card_wrap .card_item:nth-child(2) { transform: translate3d(calc(-50% - 14vw), calc(-50% - 42vh), 0); width: 16vw; }
.card_wrap .card_item:nth-child(3) { transform: translate3d(calc(-50% + 11.5vw), calc(-50% - 33vh), 0); width: 18.1vw; }
.card_wrap .card_item:nth-child(4) { transform: translate3d(calc(-50% + 35vw), calc(-50% - 35.5vh), 0); width: 20vw; }
.card_wrap .card_item:nth-child(5) { transform: translate3d(calc(-50% - 29vw), calc(-50% + 35vh), 0); width: 23.5vw; }
.card_wrap .card_item:nth-child(6) { transform: translate3d(calc(-50% + 3vw), calc(-50% + 34.5vh), 0); width: 16.5vw; }
.card_wrap .card_item:nth-child(7) { transform: translate3d(calc(-50% + 32vw), calc(-50% + 21vh), 0); width: 23.7vw; }
.card_wrap .card_item:nth-child(1) .card_img { transition: 1.75s cubic-bezier(.165,.84,.44,1); }
.card_wrap .card_item:nth-child(2) .card_img { transition: 1.35s cubic-bezier(.165,.84,.44,1); }
.card_wrap .card_item:nth-child(3) .card_img { transition: 1.5s cubic-bezier(.165,.84,.44,1); }
.card_wrap .card_item:nth-child(4) .card_img { transition: 1.6s cubic-bezier(.165,.84,.44,1); }
.card_wrap .card_item:nth-child(5) .card_img { transition: 1.2s cubic-bezier(.165,.84,.44,1); }
.card_wrap .card_item:nth-child(6) .card_img { transition: 1.45s cubic-bezier(.165,.84,.44,1); }
.card_wrap .card_item:nth-child(7) .card_img { transition: 2s cubic-bezier(.165,.84,.44,1); }

.featured_booth { flex: 0 0 100%; }
.booth_character { position: absolute; top: 0; left: 50%; display: flex; justify-content: center; align-items: center; width: 42%; height: 100%; background: url('../img/featured/featured_booth_bg.jpg') no-repeat center; z-index: 1; overflow: hidden; transform: translate3d(-120%, 0, 0); }
.booth_character .character_img { position: absolute; top: 50%; left: 50%; max-width: 70%; max-height: 80%; transform: translate3d(-50%, -50%, 0); }
.booth_shop { position: absolute; top: 0; right: 0; width: 58%; height: 100%; padding: 70px 0; background: #fff; box-sizing: border-box; overflow-y: auto; }
.booth_shop .shop_logo { display: flex; justify-content: center; margin-top: 53px; }
.booth_shop .shop_step_wrap { display: flex; justify-content: center; color: #041e42; text-align: center; }
.booth_shop .shop_step { width: 100%; max-width: 162px; opacity: .25; }
.booth_shop .shop_step.on { opacity: 1; }
.booth_shop .shop_step + .shop_step { margin-left: 10px; }
.booth_shop .step_image_wrap { display: flex; justify-content: center; align-items: center; height: 64px; }
.booth_shop .step_title { margin-top: 17px; font-size: 20px; font-weight: bold; }
.booth_shop .step_desc { margin-top: 9px; font-size: 16px; font-weight: bold; }

.booth_shop .shop_step_dotted { position: relative; margin: 60px auto 0; width: 531px; height: 16px; }
.booth_shop .shop_step_dotted::before,
.booth_shop .shop_step_dotted::after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ''; }
.booth_shop .shop_step_dotted::before { background-image: url('../img/featured/featured_booth_step_dotted.png'); }
.booth_shop .shop_step_dotted::after { -webkit-transition: width .4s ease; transition: width .4s ease; background-image: url('../img/featured/featured_booth_step_dotted_fill.png'); }
.booth_shop .shop_step_dotted.step_0::after { width: 32.3%; }
.booth_shop .shop_step_dotted.step_1::after { width: 64.7%; }
.booth_shop .shop_step_dotted.step_2::after { width: 96.95%; }
.booth_shop .shop_step_dotted.step_3::after { width: 100%; }

.booth_shop .shop_item_wrap { display: block;  margin: 58px auto 0; }
.booth_shop .item_wrap { display: none; justify-content: center; }
.booth_shop .item_wrap.on { display: flex; }
.booth_shop .shop_item_box { position: relative; display: flex; justify-content: center; align-items: center; width: 250px; height: 358px; border-radius: 20px; transition: box-shadow .25s; }
.booth_shop .shop_item_box:hover,
.booth_shop .shop_item_box.on { box-shadow: 0 0 15px rgba(0, 0, 0, .08); } 
.booth_shop .shop_item_box + .shop_item_box { margin-left: 5%; }
.booth_shop .shop_item_price { position: absolute; top: 25px; right: 25px; font-size: 26px; color: #041e42; }
.booth_shop .shop_item_price .zem { display: inline-block; width: 20px; height: 17px; margin-right: 11px; background: url('../img/featured/featured_booth_zem.png') no-repeat center / cover; }
.booth_shop .shop_btn_wrap { display: flex; justify-content: center; align-items: center; margin: 50px auto 0; }
.booth_shop .btn_choice { display: flex; justify-content: center; align-items: center; margin: 0 15px; padding: 13px 28px 12px; font-size: 18px; color: #fff; text-align: center; border: 1px solid #041c3e; border-radius: 50px; background: #041c3e; transition: color .2s, border .2s, background .2s; }
.booth_shop .btn_choice:hover { color: #000; border-color: #000; background: #fff; }
.booth_shop .js-btnPrev { display: none; }
.booth_shop .js-btnPrev.on { display: flex; }

.featured_wrap.photo .booth_character { width: 100%; transform: translate3d(-50%, 0, 0); transition: width 1.2s, transform 1.2s; transition-timing-function: cubic-bezier(0.4, 0.09, 0, 1); }
.featured_wrap.photo .character_img { opacity: 0; transition: opacity .8s; }

.pose_slider_wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; visibility: hidden; z-index: -1; }
.featured_wrap.photo .pose_slider_wrap { opacity: 1; transition: opacity 1s .2s; z-index: 1; visibility: visible; }
.pose_box { display: flex; justify-content: center; align-items: flex-end; padding-bottom: 18vh; box-sizing: border-box; }
.pose_box img { width: 95%; transform: scale(0.6); transition: transform .3s; transform-origin: bottom; }
.pose_box.swiper-slide-duplicate-active img,
.pose_box.swiper-slide-active img { transform: scale(1); }
.pose_slider_btn_wrap { position: absolute; bottom: 5vh; left: 50%; display: flex; align-items: center; transform: translate3d(-50%, 0, 0); z-index: 1; }
.pose_slider_btn_wrap .pose_btn { font-size: 22px; color: #fff; }
.pose_slider_btn_wrap .pose_btn .arrow { display: inline-block; margin: 0 15px; transition: transform .2s; }
.pose_slider_btn_wrap .pose_btn_next:hover .arrow { transform: translateX(8px); }
.pose_slider_btn_wrap .pose_btn_prev:hover .arrow { transform: translateX(-8px); }
.pose_slider_btn_wrap .pose_btn_photo { position: relative; width: 80px; height: 80px; margin: 0 42px; background: #6b4afb; border-radius: 50%; transition: transform .3s ease; }
.pose_slider_btn_wrap .pose_btn_photo::after { position: absolute; top: 50%; left: 50%; width: 60px; height: 60px; border-radius: 50%; background: #fff; transform: translate3d(-50%, -50%, 0); content: ''; }
.pose_slider_btn_wrap .pose_btn_photo:hover { transform: scale(0.8); }

.photo_wrap { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 20px 30px; justify-content: center; align-items: center; background: #041e42; z-index: 10; box-sizing: border-box; }
.photo_wrap.on { display: flex; animation: photo .4s both; }
.photo_wrap .photo_box { width: 656px;  padding: 34px; margin-top: 5vh; background: #fff; box-sizing: border-box; }
.photo_wrap .img_wrap { position: relative; opacity: 0; }
.photo_wrap.on .img_wrap { animation: fadeIn 1.3s .15s ease-out both; }
.photo_wrap .img_wrap .img_charater { position: absolute; left: 50%; bottom: 10px; max-width: 40%; transform: translate3d(-50%, 0, 0); }
.photo_wrap .img_wrap .img_charater.type_1 { max-width: 38.1%; max-height: 90%; transform: translate3d(-39%, 0, 0); bottom: 20px; }
.photo_wrap .desc_wrap { margin-top: 20px; }
.photo_wrap .desc_wrap .icn_wrap { display: flex; align-items: center; }
.photo_wrap .desc_wrap .icn { display: inline-block; }
.photo_wrap .desc_wrap .icn + .icn { margin-left: 16px; }
.photo_wrap .desc_wrap .photo_like { margin-top: 13px; }
.photo_wrap .desc_wrap .photo_comment { margin-top: 13px; color: #222; font-size: 18px; }
.photo_wrap .desc_wrap .photo_comment .name { color: #000; font-weight: bold; }
.photo_wrap .desc_wrap .photo_hash { margin-top: 9px; color: #042e67; font-size: 18px; }
.photo_wrap .desc_wrap .photo_date { margin-top: 15px; color: #222222; font-size: 14px; }
.photo_wrap .btn_reset { display: flex; justify-content: center; align-items: center; min-width: 140px; height: 42px; margin: 23px auto 0; padding: 0 20px; color: #fff; font-size: 16px; border: 1px solid transparent; border-radius: 25px; background: linear-gradient(to right, #9733ee, #5952ff); box-sizing: border-box; transition: border-color .2s, background-color .2s, color .2s; }
.photo_wrap .btn_reset:hover { color: #000; border-color: #000; background: #fff; }

@keyframes photo {
    0% { background: #fff; }
    100% { background: #041e42; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}