@charset "UTF-8";

.main_wrap { position: relative; }

.intro_wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 200; overflow: hidden; }
/* .intro_wrap.over .marquee_wrap { background: #fff; } */
.intro_wrap .marquee_wrap { align-items: flex-start; height: 50%; background: #000; -webkit-transition: background-color .4s ease, transform .75s cubic-bezier(.09,.79,.25,1), height .6s cubic-bezier(.38,.01,.58,1); transition: background-color .4s ease, transform .75s cubic-bezier(.09,.79,.25,1) .3s, height .6s cubic-bezier(.38,.01,.58,1); }
.intro_wrap .marquee_wrap.bottom { align-items: flex-end; }
.intro_wrap.end { z-index: -10; transition: z-index .75s; }
.intro_wrap.end .marquee_wrap { height: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
.intro_wrap.end .marquee_wrap.bottom { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
.intro_wrap .marquee_wrap .marquee_contents { font-size: 150px; color: #5952ff; font-weight: bold; letter-spacing: 25px; }
.btn_playnow { position: absolute; top: 50%; left: 50%; width: 460px; height: 118px; font-size: 49px; color: #5952ff; background: #fff; -webkit-transform:  translate3d(-50%, -50%, 0); transform:  translate3d(-50%, -50%, 0); border-radius: 21px; font-weight: 600; -webkit-transition: color .4s ease, background-color .4s ease; transition: color .4s ease, background-color .4s ease, opacity .4s ease; z-index: 201; }
.over .btn_playnow { color: #fff; background-color: #5952ff; }
.intro_wrap.end .btn_playnow { opacity: 0; }

.intro_video_wrap { position: relative; width: 100%; height: 100%; overflow: hidden; }
.intro_video video { position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); }