@charset "UTF-8";

.intro { position: relative; height: 100%; background: #000; -webkit-transition: background-color .4s ease; transition: background-color .4s ease; }
.intro.over { background: #fff; }
.intro .marquee_wrap .marquee_contents { font-size: 150px; color: #5952ff; font-weight: bold; letter-spacing: 25px; }
.btn_playnow { position: absolute; top: 50%; left: 50%; width: 460px; height: 118px; font-size: 49px; color: #5952ff; background: #fff; -webkit-transform:  translate3d(-50%, -50%, 0); transform:  translate3d(-50%, -50%, 0); border-radius: 21px; font-weight: 600; -webkit-transition: color .4s ease, background-color .4s ease; transition: color .4s ease, background-color .4s ease; }
.over .btn_playnow { color: #fff; background-color: #5952ff; }