@charset "UTF-8";

.header_zepeto_logo path { fill: #fff; }

.gradient_bg { position: absolute; top: 0; left: 0%; width: 100%; height: 100vh; background-image: linear-gradient(-45deg, #694cfb 0%,#5952ff 14.28%, #a141f5 28.56%, #9733ee 42.84%, #694cfb 57.12%,#5952ff 71.4%, #a141f5 85.68%, #9733ee 100%); background-size: 400% 400%; animation: gredientBg 30s linear infinite alternate; z-index: -1; }
.gradient_bg .marquee_wrap { top: 50%; padding: 40px 0; background: #fff; -webkit-transform: translate3d(0, -50%, 0); transform: translate3d(0, -50%, 0); }
.gradient_bg .marquee_contents { padding-right: 35px; font-size: calc(20px + 4.2vw); font-weight: bold; color: transparent; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #5952ff; box-sizing: border-box; }

.reality_main { overflow-y: hidden; overflow-x: hidden; }
.reality_main.opend { overflow-y: overlay; }
.reality_slider_wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; -webkit-transition: transform 1s cubic-bezier(0.56, 0.51, 0.03, 1.07); transition: transform 1s cubic-bezier(0.56, 0.51, 0.03, 1.07); }
.reality_slider_wrap::before { position: absolute; top: 0; bottom: 0; left: 0; right: 0;  content: ''; z-index: -1; transition: background-color .6s ease, z-index 0s .6s; }
.opend .reality_slider_wrap { -webkit-transform: translate3d(0, -100vh, 0); transform: translate3d(0, -100vh, 0); }
.opend .reality_slider_wrap::before { background: rgba(0, 0, 0, .6); z-index: 10; }
.reality_slider_inner { display: flex; justify-self: center; align-items: center; max-width: 1020px; padding: 0 8%; }
.reality_slider_inner .slider_box { display: block; margin: 11.5% auto 0; width: 95%; cursor: pointer; }
.reality_slider_img { position: relative; border-radius: 20px; overflow: hidden; }
.reality_slider_img img { max-width: 100%; -webkit-transform: scale(1); transform: scale(1); transition: transform .4s ease; }
.slider_box:hover .reality_slider_img img { transform: scale(1.1); }
.reality_map_user { position: absolute; bottom: 20px; right: 25px; display: flex; align-items: center; color: #fff; letter-spacing: -.25px; opacity: .5; -webkit-transition: opacity .4s ease; transition: opacity .4s ease; }
.slider_box:hover .reality_map_user { opacity: 1; }
.reality_map_user .icn_user { margin-right: 10px; }
.reality_slider_info { display: flex; justify-content: space-between; margin-top: 35px; padding: 0 10px; font-size: 18px; color: #fff; box-sizing: border-box; text-align: left; }
.reality_slider_info .desc_title { font-size: 44px; font-weight: bold; -webkit-filter: drop-shadow(0 0 10px #5952ff); filter: drop-shadow(0 0 10px #5952ff); }
.reality_slider_info .desc { margin-top: 14px; }
.reality_slider_info .info_author { display: flex; align-items: center; }
.reality_slider_info .info_author .author_avatar { width: 60px; height: 60px; margin-right: 20px; background: url('../img/reality/avatar_1.png') no-repeat center / contain; }
.reality_slider_info .info_author .author_crew { margin-top: 10px; }

.reality_detail_visual { display: flex; justify-content: center; align-items: center; }
.reality_detail_visual img { width: 100%; }

.reality_detail { position: relative; -webkit-transform: translate3d(0, 100vh, 0); transform: translate3d(0, 100vh, 0); -webkit-transition: transform 1s cubic-bezier(0.56, 0.51, 0.03, 1.07); transition: transform 1s cubic-bezier(0.56, 0.51, 0.03, 1.07); }
.opend .reality_detail { -webkit-transform: none; transform: none; }
.reality_detail_contents { display: flex; justify-content: center; padding: 150px 3% 140px; background: #fff; box-sizing: border-box; }
.reality_detail_contents .contents_wrap { width: 100%; max-width: 1200px; }
.reality_detail_contents .contents_title { font-size: 50px; font-weight: bold; text-align: center; }
.lotteworld .contents_title { color: rgba(220, 54, 59, .2); }
.guccivilla .contents_title { color: rgba(150, 88, 65, .2); }
.hangang .contents_title { color: rgba(0, 131, 255, .2); }
.reality_detail_contents .contents_top { margin-top: 55px; }
.reality_detail_contents .triple_wrap { display: flex; justify-content: space-between; }
.guccivilla .triple_wrap { margin-top: 62px; }
.reality_detail_contents .triple_image { border-radius: 20px; overflow: hidden; }
.reality_detail_contents .triple_image img { border-radius: 20px; }
.reality_detail_contents .triple_image + .triple_image { margin-left: 2%; }
.reality_detail_contents .triple_image:nth-child(1),
.reality_detail_contents .triple_image:nth-child(3) { margin-top: 8.5%; }
.guccivilla .triple_image:nth-child(1),
.guccivilla .triple_image:nth-child(3) { margin-top: 0; }
.reality_detail_contents .double_wrap { display: flex; justify-content: space-between; align-items: flex-start; }
.reality_detail_contents .double_image img { border-radius: 20px; }
.reality_detail_contents .double_image .contents_info { margin-top: 110px; padding-left: 23px; text-align: left; }
.reality_detail_contents .contents_info { text-align: center; }
.lotteworld .contents_info { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
.reality_detail_contents .contents_info_subject { font-size: 32px; font-weight: bold; line-height: 1.25; }
.guccivilla .contents_info_subject { font-size: 44px; }
.reality_detail_contents .contents_info_desc { margin-top: 20px; font-size: 18px; line-height: 1.5; }
.reality_detail_contents .contents_mid { margin-top: 140px; }
.guccivilla .contents_mid { margin-top: 175px; }
.reality_detail_contents .big_image_wrap { border-radius: 20px; overflow: hidden; }
.reality_detail_contents .contents_bottom { margin-top: 200px; }
.reality_detail_contents .bottom_img_box { position: relative; display: flex; justify-content: space-between; }
.reality_detail_contents .bottom_img_box + .bottom_img_box { margin-top: 90px; }
.reality_detail_contents .bottom_box_thumb { display: flex; flex: 0 0 50%; }
.reality_detail_contents .bottom_box_txt + .bottom_box_thumb { justify-content: flex-end; }
.reality_detail_contents .bottom_box_thumb img { border-radius: 20px; }
.reality_detail_contents .bottom_box_txt { flex: 0 0 50%; margin-top: 13%; padding-left: 4%; box-sizing: border-box; }
.reality_detail_contents .bottom_box_thumb + .bottom_box_txt { padding-left: 2%; }
.reality_detail_contents .bottom_box_subject { font-size: 40px; font-weight: bold; line-height: 1.2; }
.reality_detail_contents .bottom_box_desc { margin-top: 25px; font-size: 18px; }
.reality_detail_contents .bottom_bg_txt { position: absolute; bottom: 60px; font-size: 140px; font-weight: bold; color: rgba(89,82,255, .1); }
.reality_detail_contents .bottom_box_txt + .bottom_bg_txt { right: 0; }
.guccivilla .bottom_box_txt + .bottom_bg_txt { left: 480px; right: auto; }
.reality_detail_contents .bottom_box_thumb + .bottom_bg_txt { left: 4%; }
.guccivilla .bottom_box_thumb + .bottom_bg_txt { left: 170px; }
.reality_detail_dress { display: flex; justify-content: center; padding: 150px 3% 140px; box-sizing: border-box; background: #fb8114; }
.guccivilla .reality_detail_dress { background: #685033; }
.reality_detail_dress .dress_inner { display: flex; justify-content: space-between; width: 100%; max-width: 1200px; }
.reality_detail_dress .dress_big_thumb { flex: 0 0 auto; width: 450px; height: 665px; margin-right: 50px; }
.reality_detail_dress .dress_big_box { display: flex; justify-content: center; align-items: flex-end; padding-left: 11%; height: 620px; border-radius: 20px; background-color: #e0bbaa; box-sizing: border-box; overflow: hidden; }
.guccivilla .dress_big_box img { -webkit-transform: translate3d(0, 145px, 0); transform: translate3d(0, 145px, 0); }
.reality_detail_dress .dress_title { font-size: 60px; font-weight: bold; color: #fff; }
.reality_detail_dress .dress_title .fontregular { font-weight: normal; }
.reality_detail_dress .dress_desc { margin-top: 13px; font-size: 20px; color: #fff; line-height: 1.7; }
.reality_detail_dress .dress_right_box { display: flex; flex-direction: column; justify-content: space-between; flex: 0 1 100%; height: 665px; padding-top: 20px; box-sizing: border-box; }
.reality_detail_dress .dress_small_wrap { display: flex; justify-content: space-between; }
.reality_detail_dress .dress_small_thumb { display: flex; flex-direction: column; justify-content: space-between; }
.reality_detail_dress .dress_small_thumb + .dress_small_thumb { margin-left: 10px; }
.reality_detail_dress .dress_small_box { display: flex; justify-content: center; align-items: center; width: 220px; height: 330px; border-radius: 20px; }
.reality_detail_dress .dress_small_box.blue { background-color: #9cc0ff; }
.guccivilla .dress_small_box.blue img { -webkit-transform: translate3d(0, 12px, 0); transform: translate3d(0, 12px, 0); }
.reality_detail_dress .dress_small_box.green { background-color: #b4d3b0; }
.reality_detail_dress .dress_small_box.pink { background-color: #ffa2a2; }
.reality_detail_dress .dress_item_desc { display: flex; justify-content: space-between; align-items: center; margin-top: 25px; padding: 0 8px; color: #fff; }
.reality_detail_dress .dress_item_name { font-size: 18px; font-weight: bold; }
.reality_detail_dress .dress_item_price { display: flex; align-items: center; font-size: 20px; }
.reality_detail_dress .dress_item_price .icn_coin { margin-right: 12px; }
.reality_detail_equipment { display: flex; justify-content: center; padding: 150px 3% 140px; box-sizing: border-box; }
.reality_detail_equipment .equipment_inner { display: flex; width: 100%; max-width: 1200px; }
.reality_detail_equipment .equipment_item { flex: 0 0 25%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.reality_detail_equipment .equipment_thumb { flex: 0 1 100%; display: flex; justify-content: center; align-items: center; width: 100%; }
.guccivilla .equipment_thumb { align-items: flex-end; }
.reality_detail_equipment .equipment_item_desc { flex: 0 0 auto; display: flex; justify-content: space-between; align-items: center; margin-top: 50px; }
.reality_detail_equipment .equipment_item_name { font-size: 18px; font-weight: bold; }
.reality_detail_equipment .equipment_item_price { display: flex; align-items: center; margin-left: 30px; font-size: 20px; }
.reality_detail_equipment .equipment_item_price .icn_coin { margin-right: 12px; }
.reality_detail_itemslider { height: 100vh; min-height: 850px; max-height: 978px; background: #aace37; }
.reality_detail_itemslider .detail_item_subject { padding-top: 175px; padding-left: 126px; margin-bottom: 143px; }
.reality_detail_itemslider .detail_item_subject .item_title { margin-top: 20px; font-size: 60px; color: #652d8d; font-weight: bold; }
.reality_detail_itemslider .detail_item_subject .item_desc { font-size: 20px; color: #652d8d; font-weight: normal; }
.reality_detail_itemslider .item_slider_box { display: flex; justify-content: center; align-items: center; width: 314px; height: 418px; background: #fff; border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, .1); -webkit-transform: translate3d(0, -35px, 0); transform: translate3d(0, -35px, 0); -webkit-transition: transform .2s; transition: transform .2s; }
.reality_detail_itemslider .item_slider_box.swiper-slide-prev,
.reality_detail_itemslider .item_slider_box.swiper-slide-next { -webkit-transform: translate3d(0, 35px, 0); transform: translate3d(0, 35px, 0); }

.reality_detail_marquee { position: relative; padding: 25px 0; background: #5952ff; box-sizing: border-box; }
.reality_detail_marquee .marquee_inner { font-size: 50px; color: #fff; font-weight: bold; }
.reality_detail_marquee .marquee_contents { padding: 0 10px; }

.reality_detail .detail_btn_close { position: fixed; top: 20px; left: 25px; width: 46px; height: 46px; opacity: 0; border-radius: 50%; background: rgba(255, 255, 255, .4); -webkit-transition: opacity .2s ease 1s, background-color .2s ease; transition: opacity .2s ease 1s, background-color .2s ease; }
.detail_btn_close.reverse { background: #9556ff; }
.opend .detail_btn_close { opacity: 1; }
.reality_detail .detail_btn_close:hover { background: #5952ff; }
.reality_detail .detail_btn_close .close_bar { position: absolute; top: 50%; left: calc(50% - 12px); width: 24px; height: 2px;  background: #fff; }
.reality_detail .detail_btn_close .close_bar:nth-child(1) { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.reality_detail .detail_btn_close .close_bar:nth-child(2) { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

@-webkit-keyframes gredientBg {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes gredientBg {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}