@charset "UTF-8";

.tutorial_wrap { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 40px 50px; box-sizing: border-box; background: url('../img/tutorial/tutorial_bg.png') no-repeat center; background-size: cover; overflow: hidden; }
.tutorial_wrap .tutorial_inner { width: 100%; max-width: 1500px; }
.tutorial_wrap .tutorial_title_wrap { display: flex; justify-content: center; }
.tutorial_wrap .tutorial_title_wrap .tutorial_title { position: relative; display: inline-flex; padding: 10px 0; text-align: center; font-size: 100px; font-weight: bold; background: linear-gradient(to right, #9733ee, #5952ff); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text; overflow: visible; animation: showUp .65s ease both; }
.tutorial_wrap .tutorial_title_wrap .title_obj { position: absolute; animation: cloud 10s ease infinite alternate; }
.tutorial_wrap .tutorial_title_wrap .title_obj.type_1 { top: -10px; left: -68px; animation-duration: 4s; }
.tutorial_wrap .tutorial_title_wrap .title_obj.type_2 { bottom: -32px; left: -50px; animation-duration: 6s; }
.tutorial_wrap .tutorial_title_wrap .title_obj.type_3 { top: -10px; right: -73px; animation-duration: 5s; }
.tutorial_wrap .tutorial_title_wrap .title_obj.type_4 { bottom: -30px; right: -63px; animation-duration: 4s; }
.tutorial_wrap .tutorial_desc { margin-top: 26px; color: #222; font-size: 20px; text-align: center; animation: showUp .5s ease .44s both; }
.tutorial_wrap .tutorial_card_wrap { margin-top: 110px; display: flex; }
.tutorial_wrap .tutorial_card_item { position: relative; width: calc(100% / 6); max-width: 233px; text-align: center; animation: slideUp .8s ease both; }
.tutorial_wrap .tutorial_card_item:nth-child(1) { animation-delay: 0.8s; }
.tutorial_wrap .tutorial_card_item:nth-child(2) { animation-delay: 0.85s; }
.tutorial_wrap .tutorial_card_item:nth-child(3) { animation-delay: 0.9s; }
.tutorial_wrap .tutorial_card_item:nth-child(4) { animation-delay: 0.95s; }
.tutorial_wrap .tutorial_card_item:nth-child(5) { animation-delay: 1.0s; }
.tutorial_wrap .tutorial_card_item:nth-child(6) { animation-delay: 1.05s; }
.tutorial_wrap .tutorial_card_item + .tutorial_card_item { margin-left: 20px; }
.tutorial_wrap .tutorial_card_item .card_box { position: relative; width: 100%; padding-bottom: 147.215%;; }
.tutorial_wrap .tutorial_card_item .card { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: transform .4s ease; backface-visibility: hidden; }
.tutorial_wrap .tutorial_card_item .card.back { display: flex; justify-content: space-between; align-items: center; flex-direction: column; padding: 21.5% 0 23.5%; color: #5952ff; transform: rotateY(180deg); background: url('../img/tutorial/tutorial_card_back.png') no-repeat center; background-size: cover; box-sizing: border-box; }
.tutorial_wrap .tutorial_card_item:hover { perspective: 1000px; }
.tutorial_wrap .tutorial_card_item:hover .card.front { transform: rotateY(180deg); }
.tutorial_wrap .tutorial_card_item:hover .card.back { transform: rotateY(0); }
.tutorial_wrap .tutorial_card_item .card_subject { font-size: 18px; }
.tutorial_wrap .tutorial_card_item .card_title { font-size: 22px; }
.tutorial_wrap .tutorial_card_item .card_desc { font-size: 16px; line-height: 1.4; }
.tutorial_wrap .tutorial_card_item .card_link {  display: flex; justify-content: center; align-items: center; font-size: 16px; color: #fff; height: 42px; min-width: 120px; border-radius: 50px; border: 1px solid transparent; background: #5952ff; box-sizing: border-box; transition: border-color .2s, color .2s, background-color .2s; }
.tutorial_wrap .tutorial_card_item .card_link:hover { border-color: #fff; color: #5952ff; background-color: transparent; }

@keyframes cloud {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(0, 25%, 0); }
}

@keyframes showUp {
    0% { transform: translate3d(0, 10%, 0) scale(0.9); opacity: 0; }
    100% { transform: translate3d(0, 0%, 0) scale(1); opacity: 1; }
}

@keyframes slideUp {
    0% { transform: translate3d(0, 40%, 0); opacity: 0;}
    100% { transform: translate3d(0, 0%, 0); opacity: 1;}
}